/Apigwcl/.settings/
/Apigwcl/.swagger-codegen/
/Apigwcl/target/
/Apigwcl/.classpath
/Apigwcl/.project
/Apigwcl/.springBeans
/Apigwcl/.swagger-codegen-ignore

/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
