<!DOCTYPE html>
<html lang="en">
<head>
    <title>AP selector</title>
    <script type="application/javascript" th:src="@{js/jquery/jquery-3.3.1.js}"></script>
    <script type="application/javascript" th:src="@{js/client_old.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/client_old.css}"/>
</head>
<body>

<div class="header"></div>

<h1>AP selector</h1>

<div id="messages">
    <div class="info" th:text="${infoMessage}"></div>
    <div class="error" th:text="${errorMessage}"></div>
</div>

<div id="main-selector">
    <div id="left-part">
        <div id="aps">
            <p>Select an AP (Attribute Provider)</p>

            <div id="ap-selector">
                <div th:each="apClient : ${apsList}" th:attr="index=${apClient.index}"
                     th:classappend="${apClient.index%2==0} ? odd : even">
                    <span class="logo"><img th:src="${apClient.logo}"/></span>
                    <span th:text="${apClient.displayName}"></span>
                </div>
            </div>

            <div id="ap-selected">&nbsp;</div>
        </div>

        <form id="ap-form" name="ap-form" method="POST">
            <input type="hidden" name="apId" id="ap-id"/>
            <input type="hidden" name="attrRequestList" id="attr-request-list"/>
            <input type="hidden" name="attrSendList" id="attr-send-list"/>
            <input type="hidden" name="attrConsentList" id="attr-consent-list"/>
            <input type="button" value="Send" id="send-request-button"/> I consent to send my personal attributes and
            retrieve the requested attributes from the selected AP
        </form>

        <div id="collected-attributes-div">

        <h3>List of collected attributes</h3>

        <div id="attributes-consent">

            <div class="attributes-consent-selector" th:each="attrConsent : ${attributesConsentList}">
                <p><span class="bold" th:text="${attrConsent.id}"></span>:</p>

                <div class="attributes-consent-collected">
                    <ul class="selected-attributes-consent">
                        <li th:each="attribute : ${attrConsent.attributeClientList}" th:attr="index=${attribute.index}">
                            <span class="bold" th:text="${attribute.name}"></span>: <span
                                th:text="${attribute.value}"></span>
                        </li>
                    </ul>

                    <input type="image" class="edit-img edit-consent" th:src="@{images/pencil.png}" alt="Edit"/>
                </div>

                <div class="attributes-consent-selection">
                    <ul>
                        <li th:each="attribute : ${attrConsent.attributeClientList}">
                            <input type="checkbox" th:value="${attribute.index}" checked="true"
                                   th:name="${attrConsent.id}"/>
                            <label th:text="${attribute.name}"></label>
                        </li>
                    </ul>

                    <input type="button" class="update-consent-attr" value="Update"/>
                    <input type="button" class="update-consent-attr-cancel" value="Cancel"/>
                </div>
            </div>

        </div>

        <form id="finish-form" th:action="${urlFinishProcess}" method="get">
            <input type="submit" value="Finish Data Collection"/> I consent to send the collected personal attributes to
                the requesting SP
        </form>

        </div>

    </div>

    <div id="attributes-selector">

        <div id="attributes-request-selector">
            <div id="attributes-request">
                <p>List of attributes to be request:</p>

                <ul id="selected-attributes-request">
                    <li th:each="attributeRequest : ${attributesRequestList}" th:attr="index=${attributeRequest.index}"
                        th:text="${attributeRequest.name}"></li>
                </ul>

                <input type="image" id="edit-request-attr" class="edit-img" th:src="@{images/pencil.png}" alt="Edit"/>
            </div>

            <div id="attributes-request-selection">
                <ul>
                    <li th:each="attributeRequest : ${attributesRequestList}">
                        <input type="checkbox" th:value="${attributeRequest.index}" checked="true"/>
                        <label th:text="${attributeRequest.name}"></label>
                    </li>
                </ul>

                <input type="button" id="update-request-attr" value="Update"/>
                <input type="button" id="update-request-attr-cancel" value="Cancel"/>
            </div>
        </div>

        <div id="attributes-send-selector">
            <p>Personal attributes to be sent:</p>

            <ul id="selected-attributes-send">
                <li th:each="attributeSend : ${attributesSendList}" th:attr="index=${attributeSend.index}">
                    <span class="bold" th:text="${attributeSend.name}"></span>: <span
                        th:text="${attributeSend.value}"></span>
                </li>
            </ul>

            <input type="image" id="edit-send-attr" class="edit-img" th:src="@{images/pencil.png}" alt="Edit"/>

            <div id="attributes-send-selection">
                <ul>
                    <li th:each="attributeSend : ${attributesSendList}">
                        <input type="checkbox" th:value="${attributeSend.index}" checked="true"/>
                        <label th:text="${attributeSend.name}"></label>
                    </li>
                </ul>

                <input type="button" id="update-send-attr" value="Update"/>
                <input type="button" id="update-send-attr-cancel" value="Cancel"/>
            </div>
        </div>

    </div>
</div>

<div class="footer"></div>

</body>
</html>