<!DOCTYPE html>
<html lang="en">
<head>
    <title>ESMO Data Query</title>
    <script type="application/javascript" th:src="@{js/jquery/jquery-3.3.1.js}"></script>
    <script type="application/javascript" th:src="@{js/client.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{css/client.css}"/>
</head>
<body>

<div class="header">
    <img th:src="@{images/header.png}"/>
</div>

<div id="messages">
    <div class="info" th:text="${infoMessage}"></div>
    <div class="error" th:text="${errorMessage}"></div>
</div>

<div id="main-selector">

    <div id="requesting-data" class="main-content">
        <h3 class="main-title"><span th:text="${SPName}">Service Provider</span> is requesting the following Personal Data</h3>

        <div id="attributes-request-selector" class="data-box attributes-selector">
            <div class="header-data">
                <p>List of data to query</p>
                <div class="buttons">
                    <input type="image" id="edit-request-attr" class="edit-img" th:src="@{images/edit.png}" alt="Edit"/>
                    <input type="image" id="update-request-attr" class="update-img" th:src="@{images/update.png}"
                           alt="Update"/>
                    <input type="image" id="update-request-attr-cancel" class="cancel-img" th:src="@{images/cancel.png}"
                           alt="Cancel"/>
                </div>
                <div class="clear"></div>
            </div>

            <ul id="selected-attributes-request">
                <li th:each="attributeRequest, iStat : ${attributesRequestList}"
                    th:attr="index=${attributeRequest.index}"
                    th:text="${attributeRequest.name}"></li>
            </ul>

            <ul id="attributes-request-selection">
                <li th:each="attributeRequest : ${attributesRequestList}">
                    <input type="checkbox" th:value="${attributeRequest.index}" checked="true"/>
                    <label th:text="${attributeRequest.name}"></label>
                </li>
            </ul>
        </div>

        <div id="attributes-send-selector" class="data-box attributes-selector">
            <div class="header-data">
                <p>List of identity data to send in query</p>
                <div class="buttons">
                    <input type="image" id="edit-send-attr" class="edit-img" th:src="@{images/edit.png}" alt="Edit"/>
                    <input type="image" id="update-send-attr" class="update-img" th:src="@{images/update.png}"
                           alt="Update"/>
                    <input type="image" id="update-send-attr-cancel" class="cancel-img" th:src="@{images/cancel.png}"
                           alt="Cancel"/>
                </div>
                <div class="clear"></div>
            </div>

            <ul id="selected-attributes-send">
                <li th:each="attributeSend : ${attributesSendList}" th:attr="index=${attributeSend.index}">
                    <span class="bold" th:text="${attributeSend.name}"></span>: <span
                        th:text="${attributeSend.value}"></span>
                </li>
            </ul>

            <ul id="attributes-send-selection">
                <li th:each="attributeSend : ${attributesSendList}">
                    <input type="checkbox" th:value="${attributeSend.index}" checked="true"/>
                    <label th:text="${attributeSend.name}"></label>
                </li>
            </ul>
        </div>

        <div id="aps" class="data-box">
            <h3>Select organisation to retrieve your data from:</h3>

            <div id="ap-selector">
                <div th:each="apClient : ${apsList}" th:attr="index=${apClient.index}"
                     th:classappend="${apClient.index%2==0} ? odd : even">
                    <span class="logo"><img th:src="${apClient.logo}"/></span>
                    <span th:text="${apClient.displayName}"></span>
                </div>
            </div>

            <div id="ap-selected">&nbsp;</div>
        </div>

        <form id="ap-form" class="consent-form" name="ap-form" method="POST">
            <input type="hidden" name="apId" id="ap-id"/>
            <input type="hidden" name="attrRequestList" id="attr-request-list"/>
            <input type="hidden" name="attrSendList" id="attr-send-list"/>
            <input type="hidden" name="attrConsentList" id="attr-consent-list"/>
            <input type="button" value="Send" id="send-request-button" class="consent-button"/>
            <span th:if="${consentQuery}" class="consent-text" th:text="${consentQuery}"></span>
            <span th:unless="${consentQuery}" class="consent-text">Click to consent to the above data query and to receive requested data.</span>
        </form>

    </div>

    <div id="retrieved-data" class="main-content">
        <h3 class="main-title">Personal Data Retrieved</h3>

        <div id="attributes-consent">

            <div class="attributes-consent-selector data-box attributes-selector"
                 th:each="attrConsent : ${attributesConsentList}">
                <div class="header-data">
                    <p th:text="${attrConsent.id}"></p>
                    <div class="buttons">
                        <input type="image" class="edit-img edit-consent" th:src="@{images/edit.png}" alt="Edit"/>
                        <input type="image" class="update-img update-consent-attr" th:src="@{images/update.png}"
                               alt="Update"/>
                        <input type="image" class="cancel-img update-consent-attr-cancel" th:src="@{images/cancel.png}"
                               alt="Cancel"/>
                    </div>
                    <div class="clear"></div>
                </div>

                <ul class="attributes-consent-collected">
                    <li th:each="attribute : ${attrConsent.attributeClientList}" th:attr="index=${attribute.index}">
                        <span class="bold" th:text="${attribute.name}"></span>: <span
                            th:text="${attribute.value}"></span>
                    </li>
                </ul>

                <ul class="attributes-consent-selection">
                    <li th:each="attribute : ${attrConsent.attributeClientList}">
                        <input type="checkbox" th:value="${attribute.index}" checked="true"
                               th:name="${attrConsent.id}"/>
                        <label th:text="${attribute.name}"></label>
                    </li>
                </ul>
            </div>
        </div>

        <form id="finish-form" class="consent-form" th:action="${urlFinishProcess}" method="get">
            <input type="submit" class="consent-button" value="Finish"/>
            <p th:if="${consentFinish}" class="consent-text" th:text="${consentFinish}"></p>
            <p th:unless="${consentFinish}" class="consent-text finish-consent-text">
                Click to consent to return your above data to <span th:text="${SPName}">SP organisation</span>
                and finish the process.</p>
        </form>

    </div>

</div>

<div id="footer-info">

    <a id="policy" href="#" th:href="${privacyPolicy}">Privacy Policy</a>

    <div id="esmo-info">
        <p>To find out more about ESMO please visit:</p>
        <a href="http://www.esmo-project.eu/">http://www.esmo-project.eu/</a>
    </div>
</div>

<div id="footer">
    <img th:src="@{images/footer.png}"/>
</div>

</body>
</html>